:root {
  --color-primary: #fff;
  --color-secondary: #8bacda;
  --color-accent: #00fff7;
  --color-bg-main: #0d192b;
  --color-bg-card: #14253d;
  --color-line: #2f415b;

  --border-rad: 15px;

  --fs-600: 2.2rem;
  --fs-400: 1.6rem;
}

@media screen and (min-width: 400px) {
  :root {
    --fs-600: 2.3rem;
    --fs-400: 1.8rem;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

.container {
  width: 90%;
  max-width: 350px;
}

/* Typography */
html {
  font-size: 62.5%;
}

body {
  font-family: "Outfit", Helvetica, Arial, sans-serif;
  font-size: var(--fs-400);
  font-weight: 300;
  height: 100vh;
  color: var(--color-secondary);
  background: var(--color-bg-main);
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: var(--fs-600);
  font-weight: 600;
  color: var(--color-primary);
}

p {
  line-height: 1.5;
}

.link {
  text-decoration: none;
  color: var(--color-primary);
  transition: color 0.2s ease-out;
}

.link:hover {
  color: var(--color-accent);
}

/* Main Card */
.card {
  background: var(--color-bg-card);
  padding: 2.5rem;
  border-radius: var(--border-rad);
}

.img-wrapper {
  position: relative;
  background: var(--color-accent);
  border-radius: var(--border-rad);
}

.card__img {
  width: 100%;
  border-radius: var(--border-rad);
  opacity: 1;
  display: block;
}

.img-wrapper:hover .card__img {
  opacity: 0.6;
}

.img-wrapper:hover::before {
  content: url(../images/icon-view.svg);
  position: absolute;
  border-radius: var(--border-rad);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
}

/* Card Data Section */
.card-data {
  display: flex;
  justify-content: space-between;
  padding: 1.5em 0;
}

.icon {
  margin-right: 0.35rem;
  vertical-align: bottom;
}

.accent-text {
  color: var(--color-accent);
}

.data__rate {
  font-weight: 400;
}

/* Card Creator Section */
.card-creator {
  display: flex;
  align-items: center;
  column-gap: 1.5em;
  border-top: 1px solid var(--color-line);
  padding-top: 1em;
}

.creator__avatar {
  border: 1px solid var(--color-primary);
  border-radius: 50%;
  width: 10%;
}

/* Attribution */
.attribution {
  position: absolute;
  bottom: 2px;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
